.videoFooter{
    position: relative;
    bottom: 20%;
    color: azure;
    margin-left: 30px;
}

.videoFooter_text h3{
    padding-bottom: 20px;

}

.videoFooter_text p{
    padding-bottom: 20px;

}

.videoFooter_music{
    display: flex;
}

.videoFooter_icon{
    position: absolute;
    bottom: 15px;
}

.videoMusicFooter_text{
    width: 86%;
    overflow: hidden;
    
}
.videoMusicFooter_text p{
    animation: moveTheText 6s infinite linear;
    
}

.videoFooter_record{
    animation: spinTheRecord 3s infinite linear;
    position: absolute;
    bottom: 4px;
    right: 20px;
    height: 50px;
    filter: invert(1);
}

@keyframes spinTheRecord {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}

@keyframes moveTheText {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);

    }
}

